<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brisk.farm_serve.mbg.mapper.OptMapper">

    <select id="getOptById" resultType="com.brisk.farm_serve.pojo.po.Opt">
        select * from opt where opt_id = #{opt_id};
    </select>

    <select id="getOptByCls" resultType="com.brisk.farm_serve.pojo.po.Opt">
        select * from opt where opt_cls = #{opt_cls};
    </select>

    <insert id="insertOpt" useGeneratedKeys="true" keyProperty="opt_id">
        insert into
            opt (opt_id, opt_cls, opt_time, area_id, opt_excter)
        values
            (#{opt.opt_id}, #{opt.opt_cls}, #{opt.opt_time}, #{opt.area_id}, #{opt.opt_excter});
    </insert>

    <delete id="deleteOpt">
        delete from
            opt
        where
            opt_id = #{opt_id};
    </delete>

    <select id="getFuturePlan" resultType="com.brisk.farm_serve.pojo.dto.NextDayPlan">
        SELECT
            opt_time AS planTime,
            opt_cls AS planName,
            opt_excter AS planExecutor,
            area_id AS planArea
        FROM
            opt
        WHERE
            opt_time > STR_TO_DATE(#{currentTime},'%Y-%m-%d %H:%i:%s')
        AND
            opt_time &lt; STR_TO_DATE(#{nextDayTime},'%Y-%m-%d %H:%i:%s');
    </select>

</mapper>
