<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brisk.farm_serve.mbg.mapper.UserMapper">

    <select id="getUserByUserId" resultType="com.brisk.farm_serve.pojo.po.User">
        select * from user where user_id = #{user_id};
    </select>

    <select id="getUserByUserName" resultType="com.brisk.farm_serve.pojo.po.User">
        select * from user where user_name = #{user_name};
    </select>

<!--  设置返回主键属性为：userId  -->
    <insert id="insertUser" useGeneratedKeys="true">
        insert into
            user (user_name, password, enable, phone_number, email)
            values
            (#{user.user_name}, #{user.password}, #{user.enable}, #{user.phone_number}, #{user.email});
    </insert>

    <select id="getIdByUserName" resultType="java.lang.Long">
        select user_id from user where user_name = #{user_name};
    </select>

    <select id="findAllUser" resultType="com.brisk.farm_serve.pojo.po.User">
        select * from user where user_name = #{user_name};
    </select>

    <select id="findUserWithPage" resultType="com.brisk.farm_serve.pojo.po.User">
        select * from user
    </select>



</mapper>
